@import 'fly';

body > footer {
  text-align: center;
  font-family: 'source_sans_pro', 'Helvetica Neue';
  font-weight: normal;
  font-style: normal;
  font-size: 16pt;
  color: #666;
}

.navbar-logo {
  height: 50px;
}

.intro-header-container {
  margin-top: -20px; // negate .navbar margin-bottom of 20px
  padding-top: 110px;
  background-color: $blue-color;
  color: #fff;
  text-align: center;

  h1 {
    font-size: 42pt;
  }

  h2 {
    font-size: 24pt;
  }

  h1, h2 {
    font-family: 'source_sans_pro', 'Helvetica Neue';
    font-weight: bold;
  }

  .buttons-container {
    margin-top: 30px;
    margin-bottom: 110px;
  }
}

.btn-default {
  &:hover {
    background-color: $blue-color;
    border-color: $light-blue-color;
  }
}

.btn-primary {
  background-color: #1a4fba;
  border-color: #1a4fba;

  &:hover {
    background-color: #0f43ab;
    border-color: #0f43ab;
  }
}

.btn {
  font-size: 16pt;
  border-width: 2px;
  font-family: 'source_sans_pro', 'Helvetica Neue';
  font-weight: bold;
  padding: 12px 20px;
}

