h2 Tent Office Hours

iframe src="https://www.ustream.tv/embed/13161332?autoplay=true" width="640" height="386" scrolling="no" frameborder="0" style="border: 0px none transparent;"
iframe src="https://webchat.freenode.net?randomnick=1&channels=tent" style="border: 0px none transparent" width="640" height="400"

h3 Previous Office Hours

p
  a href="https://tent-media.s3.amazonaws.com/tent-officehours_2013-01-22.mp4" January 22, 2013
