h2 Tent Office Hours
h4 Next Office Hours on February 26, 2013 at <a href="http://everytimezone.com/#2013-2-26,480,6be">3PM EST</a>

iframe src="https://www.ustream.tv/embed/13161332?autoplay=true" width="640" height="386" scrolling="no" frameborder="0" style="border: 0px none transparent;"
iframe src="https://webchat.freenode.net?randomnick=1&channels=tent" style="border: 0px none transparent" width="640" height="400"

h3 Previous Office Hours

p
  a href="/officehours/2013-01-22" January 22, 2013
