.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

article {
  line-height: 1.45em;
  margin-bottom: 30px;
}

article date {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px #CCC dashed;
  color: #666;
  background: #EEE;
  font-size: 85%;
}

.doc {
  margin-top: 10px;
}

.alert h4 {
  font-weight: bold;
}

/* RUPERT ADDITIONS */

/* for responsiveness */

.feature h2 {
  font-size: 140%;
}

/* general elements */

html {
  background: #EEEEEE;
}

body {
  background-color: #FDFDFD;   
}

.clear {
  clear: both;
}

.button {
  display: block;
  padding: 0.5em;
  width: 9em;
  color: white;
  clear: both;

  text-align: center;
  font-size: 1.3em;
  margin: 0 auto;

  background-color: #aaa;

   -webkit-border-radius: 4px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 4px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */


  background-color: #DDD;
  color: #333;
  border: 1px solid #CCC;
}

.button:hover {
  color: #D8F1FA;
  background-image: none;
  background-color: #32458f !important;
  text-decoration: none;
}

/* index.slim */

.feature {
  text-align: center;
  float: left;
  width: 31.1%;
  padding: 0 1.1%;
  margin-bottom:1.5em;
  min-width: 4em;
}

.feature h2 {
  font-weight: bold;
}

.feature p {
  margin-left: 20px;
  text-align: left;
}

ul.homepage {
  margin-top: 30px;
  width: 70%;
  text-align: left;
  list-style-type: none;
  width: 80%;
  background: #EEE;
  border: 1px solid #DDD;
  padding: 2em 10%;
  font-size: 120%;
}

ul.homepage > li {
  padding-bottom: 6px;
}

/* _navbar.slim */

img.responsive {
  width: 100%;
}

.navbar {
  text-align: center;
  font-size: 120%;
  background-color: #FDFDFD;

  border: 0;
  border-bottom: 1px;
  -webkit-border-image: -webkit-gradient(linear,left top,right top,color-stop(25%,#FDFDFD),color-stop(50%,#e2e2e2),color-stop(75%,#FDFDFD)) 21 30 30 21;
}

.navbar-inner {
  background: none !important;

  margin-bottom: -4px;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid white;
  position: relative;

  font-weight: 200;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #555;
  text-decoration: none;
  -webkit-box-shadow: inset 0 3px 21px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.1);
  background-color: #FDFDFD;
}

code {
  color: #000;
  background-color: #eee;
  border: none;
}

.align-center {
  text-align: center;
}

h1.logo {
  background-image:  url('/assets/images/tent_png.png');
  background-image:  url('/assets/images/tent.svg');
  background-size: 100% 100%;
  width: 200px;
  height: 140px;
  margin: 20px auto 20px;

  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
