footer
  | © 2012 by Apollic Software, LLC. All rights reserved  
 	No part of this document may be reproduced or transmitted in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without prior written permission of Apollic Software, LLC.
