meta name="viewport" content='width=device-width, initial-scale=1.0'
title = "#{@item[:title] + ' · ' if @item[:title]}Tent - the protocol for decentralized communication"
link href=asset_url('bootstrap.css') rel='stylesheet' type='text/css' media='screen'
link href=asset_url('bootstrap-responsive.css') rel='stylesheet' type='text/css' media='screen'
link href=asset_url('style.css') rel='stylesheet' type='text/css' media='screen'
link rel='alternate' type='application/atom+xml' title='Atom feed' href="/blog.xml"
javascript:
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '#{@site.config[:google_analytics_id]}']);
  _gaq.push(['_setSiteSpeedSampleRate', 50]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
