<footer>
  <hr class='col-md-3' />
  © 2013-2016 Tent.is, LLC. Tent® is a <a href="/trademark-guidelines">trademark</a> of Apollic Software, LLC. All rights reserved.

  <div class='pull-right'>
    <a href='mailto:contact@tent.io'>Contact</a>&nbsp;
    <a href='/docs/license'>License</a>&nbsp;
    <a href='/blog.xml'>Atom</a>&nbsp;
    <a href='https://github.com/tent'>GitHub</a>
  </div>
</footer>
