<div class='intro-header-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <header>
          <h1>All your data in one place</h1>
          <h2>Tent is a protocol that puts users in charge</h2>
        </header>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-10 col-md-offset-1 buttons-container'>
        <a class='btn btn-default' href='/about'>Learn More</a>
        <a class='btn btn-primary' href='/docs'>View docs</a>
      </div>
    </div>
  </div>
</div>
