<div class='intro-header-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <header>
          <h1>All your data in one place that you control</h1>
          <h2>Tent is a protocol that puts users back in control</h2>
        </header>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <a class='btn btn-default' href='/docs'>Browse all docs</a>
        <a class='btn btn-primary' href='/about'>Learn More</a>
      </div>
    </div>
  </div>
</div>
