---
title: Office Hours - May 21, 2013
---

<h1>
  Tent Office Hours - May 21, 2013
</h1>

<video controls="true" height="480" poster="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21.png" width="854">
  <source src="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21_480p.mp4" type="video/mp4">
  <source src="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21_480p.webm" type="video/webm">
  <source src="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21_480p.ogv" type="video/ogg">
  <img alt="Tent Office Hours - May 21, 2013" height="480" src="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21.png" title="No video playback capabilities, please download the video below" width="854" />
</video>

<p>
  <strong>Download: </strong>
  <a href="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21_480p.mp4">MP4 format</a> |
  <a href="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21_480p.webm">WebM format</a> |
  <a href="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21_480p.ogv">Ogg format (video)</a> |
  <a href="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21.ogg">Ogg format (audio)</a> |
  <a href="https://tent-media.s3.amazonaws.com/tent-officehours_2013-05-21.mp3">MP3 format (audio)</a>
</p>
