---
title: Office Hours
layout: blog_layout
---


<iframe src="https://www.ustream.tv/embed/13161332?autoplay=true" width="640" height="386" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
<iframe src="https://webchat.freenode.net?randomnick=1&channels=tent" style="border: 0px none transparent" width="640" height="400"></iframe>

<h3>Previous Office Hours</h3>

<ul>
  <li>
    <a href="/officehours/2013-08-06">August 6, 2013</a>
  </li>
  <li>
    <a href="/officehours/2013-05-21">May 21, 2013</a>
  </li>
  <li>
    <a href="/officehours/2013-03-19">March 19, 2013</a>
  </li>
  <li>
    <a href="/officehours/2013-02-26">February 26, 2013</a>
  </li>
  <li>
    <a href="/officehours/2013-01-22">January 22, 2013</a>
  </li>
</ul>
